.land {
  fill: #ddd;
}

.border {
  fill: none;
  stroke: #fff;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.bubble {
  fill: blue;
  fill-opacity: .5;
  stroke: #fff;
  stroke-width: .5px;
  pointer-events: all;
}

circle:hover {
  fill: red !important;
}
